version: '3.8'

services:
  backend_chat:
    image: ${DOCKERHUB_USERNAME}/chat-backend:latest
    container_name: backend_chat
    ports:
      - "${BE_PORT}:3000"
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@${VM2_INTERNAL_IP}:53410/chat_db?authSource=admin
      - REDIS_HOST=${VM2_INTERNAL_IP}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASS}
    restart: always

  frontend_chat:
    image: ${DOCKERHUB_USERNAME}/chat-frontend:latest
    container_name: frontend_chat
    ports:
      - "${FE_PORT}:${FE_PORT}"
    restart: always

  # Nginx đóng vai trò Reverse Proxy (Cửa ngõ bảo mật)
  nginx_proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8029:80" # Mở cổng 8029 ra Internet qua VM 1
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro # File cấu hình Nginx
    depends_on:
      - backend_chat
      - frontend_chat