version: '3.8'

services:
  # Service Backend (Node.js)
  backend_chat:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_chat
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@10.128.0.2:53410/chat_db?authSource=admin
      - REDIS_HOST=10.128.0.2
      - REDIS_PORT=43816
      - REDIS_PASSWORD=${REDIS_PASS}
    restart: always

  # Service Frontend (Next.js/React)
  frontend_chat:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_chat
    ports:
      - "3000:3000"
    restart: always

  # Nginx đóng vai trò Reverse Proxy (Cửa ngõ bảo mật)
  nginx_proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8029:80" # Mở cổng 8029 ra Internet qua VM 1
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro # File cấu hình Nginx
    depends_on:
      - backend_chat
      - frontend_chat