version: '3.8'

services:
  backend_chat:
    image: ${DOCKERHUB_USERNAME}/chat-backend:latest
    container_name: backend_chat
    ports:
      - "127.0.0.1:${BE_PORT}:${BE_PORT}"  # Bind to localhost only
    environment:
      - NODE_ENV=${NODE_ENV}
      - BE_PORT=${BE_PORT}
      - DB_URI=${DB_URI}
      - REDIS_HOST=${VM2_INTERNAL_IP}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASS}
    restart: always

  frontend_chat:
    image: ${DOCKERHUB_USERNAME}/chat-frontend:latest
    container_name: frontend_chat
    environment:
      - BE_URL=${BE_URL}
      - NEXT_PUBLIC_SOCKET_URL=${SOCKET_URL}
    ports:
      - "127.0.0.1:${FE_PORT}:3000"  # Bind to localhost only
    restart: always

  # Nginx: Reverse Proxy
  nginx_proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8029:80" # Mở cổng 8029 ra Internet qua VM 1
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - backend_chat
      - frontend_chat