.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-links li a:hover,
.navbar-links li a.active-link {
  /* Styles for the active link */
  background-color: #555;
}

.menu-toggle {
  display: none; /* Hide button by default on desktop */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px; /* Adjust based on navbar height */
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex; /* Show menu when active */
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    width: 100%;
  }

  .menu-toggle {
    display: block; /* Show hamburger button on mobile */
  }
}
